.action-button {
    background-color: #1890ff;
    color: white;
    border: none;
    margin-right: 20px;
  }
  
  .action-button:hover {
    background-color: #40a9ff;
  }
  
  .action-button + .action-button {
    background-color: #f5222d;
  }
  
  .action-button + .action-button:hover {
    background-color: #ff4d4f;
  }
  